.btn-primary
    color: $black !important

    &:focus-visible,
    &:hover
        border-color: $yellow !important
        background: $yellow !important

.btn
    padding: 17px 60px 20px 60px
    text-align: center
    border-radius: 4px
    font-size: 24px
    text-transform: uppercase
    display: block
    width: 100%
    max-width: 343px
    font-weight: 700
    letter-spacing: -0.48px
    
.btn-anim
    animation: btn_grow 2.3s infinite
    &:hover
        animation: none

@keyframes btn_grow 
    0% 
        transform: scale3d(1, 1, 1)
    50% 
        transform: scale3d(1.1, 1.1, 1.1)
    100% 
        transform: scale3d(1, 1, 1)

.btn-header
    height: 60px
    width: 230px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 60px
    background-color: rgba(255, 255, 255, 0.20)
    box-shadow: 0px 4px 92px 0px #FFE19F
    text-decoration: none
    color: $brown
    font-size: 18px
    font-weight: 600
    img
        margin-right: 10px
    &:hover
        color: #fff
        background-color: $brown

.btn-sm
    padding: 14px 10px 17px 10px
    font-size: 18px
    border-radius: 4px
    max-width: 300px
    width: 100%
    text-decoration: none
    font-weight: 600
    display: block
    letter-spacing: -0.32px
    justify-content: center
    display: flex
.btn-lk
    padding: 10px 29px 15px 29px
    color: $white
    font-size: 18px
    border-radius: 4px
    text-decoration: none
    border: 1px solid #FC3944
    font-weight: 600
    display: block
    letter-spacing: -0.32px
.btn-lk-prize
    padding: 10px 20px 12px 20px
    color: $white
    font-size: 16px
    border-radius: 4px
    text-decoration: none
    border: 1px solid #B4632E
    font-weight: 600
    display: block
    &:hover
        background-color: #B4632E
        color: $white
.btn-photo-contest
    position: absolute
    right: 12px
    top: 0
    width: 280px
.btn-red
    background: linear-gradient(90deg, #BB1015 1.84%, #E31E24 100%)
    box-shadow: 0px 4px 60px 0px rgba(255, 191, 0, 0.52)
    border: 1px solid #FC3944
    color: $white
    &:hover
        opacity: 0.9
        color:$white
    &:active
        border: 1px solid #FC3944!important
        color: $white!important

.btn-icon
    margin-right: 5px
    width: 25px
    height: 24px
    margin-top: 2px
.btn-icon-logout
    margin-left: 10px
    width: 18.81px
    height: 24px
    margin-top: 0px

.btn2
    display: block
    max-width: 600px
    margin: 0 auto
    padding: 23.5px 0 21.5px
    line-height: 107%
.contact-form-btn
    margin-top: 15px
    padding: 16px 90px 22px 90px

.logout-btn
    padding: 17px 29px 17px 28px

.w-100p
    width: 100%

@media screen and (max-width: 1100px)
    .btn-lk-prize
        margin-left: 240px
    .btn-icon
        margin-right: 6px
        width: 16px
        height: 16px
        margin-top: 2px
@media screen and (max-width: 768px)
    .btn-header
        width: auto
        height: auto
        padding: 15px
        img
            margin: 0
    .btn-photo-contest
        width: 100%
        position: static
        margin-top: 20px
    .btn
        padding: 10px 40px 15px 40px
        font-size: 20px
    .btn-lk-prize
        margin-left: 0
    .my-account-btn
        width: 30px
        height: 30px
        padding: 0!important
        text-align: center
        border-radius: 30px
        justify-content: center
    .btn-icon
        margin-right: 6px
        width: 12px
        height: 12px
        margin-top: 0px
    .dark-btn
        padding: 10px 25px!important
    .contact-form-btn
        margin-top: 15px
        padding: 12px 70px 16px!important
    .btn-blue
        padding: 18px
        font-size: 16px
    .add-data
        margin-top: 20px
@media screen and (max-width: 575px)
    .btn
        padding: 10px 0 15px 0
        font-size: 20px
        width: 100%
        max-width: 100%
