footer.footer
    .container 
        .row.d-flex.align-items-center.px-0.px-lg-40 
            .col-md-12.col-xl-3.mt-xl-10
                a.footer-link-lg.text-center.text-xl-end(href="mailto:help@promo-tvorobushki.ru") 
                    | help@promo-tvorobushki.ru
            .col-md-12.col-xl-6.order-4.order-xl-0.mt-16.mt-lg-0.text-center
                .par-14.c-brown Номер горячей линии 
                a.footer-link-phone.text-center(href="tel:88005550096") 
                    | 8 (800) 555 00 96
            .col-md-12.col-xl-3.mt-10.mt-xl-10
                a.footer-link-lg.text-center.text-xl-start(href="upload/rules.pdf") 
                    | Правила акции
        .row.mt-20.mt-md-30
            .col-sm-12
                .social-icons 
                    a(href="#" target="_blank")
                        +img('icons/inst.svg','Instagram')
                    a(href="#" target="_blank")
                        +img('icons/vk.svg','Vk')
                    a(href="#" target="_blank")
                        +img('icons/youtube.svg','Youtube') 
            .col-12
                .par-14.footer-dest Общий срок проведения акции с 01 декабря 2023 по 31 января 2024 года. Срок регистрации участников в акции, срок совершения покупок и регистрации чеков:<br> с 01 декабря 2023 года по 12 января 2024 года. Акция проводится в розничных магазинах торговой сети «Пятерочка», реализующих продукцию ТМ «Творобушки» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www. promo-tvorobushki.ru/.<br> Организатор акции – АО «Оригинал».
            .col-12 
                a(href="upload/personal.pdf").footer-link Согласие на обработку персональных данных
                a(href="upload/privacy.pdf").footer-link Политика конфиденциальности
