footer.footer
    //- .container.pos-r 
    //-     .footer-links.lk-footer-links.jc-c.ai-c 
    //-         a.footer-link.d-fx.ai-c.lk-footer-link(href="#") 
    //-             +icon('document-icon', 'document-ic mr-14')
    //-             | Полные правила акции
    //-         .socs.lk-socs 
    //-             a(href="#" target="_blank").soc-item.lk-soc-item 
    //-                 +img('icons/dark-youtube-ic.svg','Youtube','soc-icon') 
    //-             a(href="#" target="_blank").soc-item.lk-soc-item
    //-                 +img('icons/dark-vk-ic.svg','VK','soc-icon') 
    //-             a(href="#" target="_blank").soc-item.lk-soc-item
    //-                 +img('icons/dark-ok-ic.svg','OK','soc-icon') 
    //-         a.footer-link.d-fx.ai-c.lk-footer-link(href="#") 
    //-             +icon('help-icon', 'help-ic mr-14')
    //-             | help@kabanos-promo.ru
    //-     .footer-text.lk-footer-text Общий срок проведения акции с 01 июля по 31 октября 2023 года. Срок регистрации участников в акции, срок совершения покупок и регистрации кодов: с 01 июля 2023 года по 30 сентября 2023 года. Акция проводится в розничных и интернет-магазинах, продающих продукцию ТМ «Kabanos Chicken» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kabanos-promo.ru/. Организатор акции – ООО «Ай-Экшн».
    //-     a(href="#").copy-link.lk-copy-link Согласие на обработку персональных данных
    //-     a(href="#").copy-link.lk-copy-link Политика конфиденциальности
    .container 
        .row 
            .col-sm-6.col-md-4
                a.link-gold.text-center.text-sm-end(href="#") 
                    | Полные правила акции 
            .col-sm-12.col-md-4.order-4.order-md-0.mt-30.mt-md-0
                .social-icons 
                    a(href="#" target="_blank")
                        +img('icons/youtube.svg','Youtube','')
                    a(href="#" target="_blank")
                        +img('icons/vk.svg','Youtube','')
                    a(href="#" target="_blank")
                        +img('icons/odnoklassniki.svg','Youtube','') 
            .col-sm-6.col-md-4
                a.link-gold.text-center.text-sm-start(href="mailto:help@kupi-maheev.ru") 
                    | help@kupi-maheev.ru 
            .col-12
                .par-14.footer-dest Общий срок проведения акции с 07 ноября 2023 года по 31 января 2024 года. Срок регистрации участников в акции, срок совершения покупок и регистрации чеков: с 07 ноября 2023 года по 08 января 2024 года. Акция проводится в розничных магазинах торговой сети «Монетка», продающих продукцию ТМ «МахеевЪ» на территории РФ. Правила акции, информацию об Организаторе акции, порядке и условиях её проведения можно узнать на сайте https://www.kupi-maheev.ru/. <br>Организатор акции – ООО «Ай-Экшн».
            .col-12 
                a(href="#").footer-link Согласие на обработку персональных данных
                a(href="#").footer-link Политика конфиденциальности
                