.row
    .col 
        .you-buy-block.mb-30.mb-md-70  
            .col-auto.my-0.my-md-20
                ul.c-white.m-0 
                    li.par-18 5 шт = Гарантированный приз 
                    li.par-18.mt-4 5 шт = 10 шт = заявка на 5 000 баллов на карту Х5 Клуба
                    li.par-18.mt-4 15 шт = заявка на Специальные призы
                    li.par-18.mt-4 20 шт = заявка на Суперприз
            .col-auto 
                .line
            .col-auto
                .d-flex.align-items-center.flex-wrap
                    .you-buy-block-title Вы купили:
                    div.you-buy-block-title.gold-text-linear.mx-10 12 
                    +img('icons/x.svg')
                    +img('lk-product.png', 'Продукт','lk-product ml-16')
                .par-14.mt-10 количестве продукции в подтвержденных чеках в штуках
.row 
    .col-12 
        .lk-tab-title.text-center
            span.gold-text-linear Зарегистрировать чек
.row#step-1 
    .col-12.gold.text-center.mb-20.mb-md-40
        .lk-step.m-0 
            .lk-step-box Шаг 1. Загрузите фото
    .col-12.col-lg-6
        .file-upload
            input.bootstrap-file-upload(type="file" data-browse-on-zone-click="true")
    .col-12.col-lg-6.mt-24.mt-xl-0
        h5.text-transform-none
            span.gold-text-linear К регистрации в Акции принимаются чеки, если:
        ul
            li.li-lk фото чека качественное, чек сфотографирован полностью, не стоит загружать фотографию только QR кода
            li.li-lk данные, указанные на чеке, такие как дата покупки, время покупки, итого по сумме чека,<span class="font-arial"> №</span> ФН,<span class="font-arial"> №</span> ФД, <span class="font-arial"> №</span> ФПД введены правильно
            li.li-lk кассовый чек должен быть выбит кассиром в период c 11.10.2021 по 28.11.2021
            li.li-lk все символы должны быть четко видны
            li.li-lk наличие QR-кода на кассовом чеке обязательно, он должен быть читаемый
            li.li-lk в чеке должно отображаться наименование Акционной продукции
    .col-12.mt-24
        button.btn-lk.btn-red.mx-a(type="submit") Далее
.row#step-2
    .col-12.gold.text-center.mb-30.mb-md-40
        .lk-step 
            .lk-step-box Шаг 2. Внесите данные с чека
    .col-12.croppie-wrapper
        ul.nav.nav-lk-regChek
            li.nav-lk-item
                a(href='#tabPhoto' data-bs-toggle="tab").nav-lk-regChek-link.active Фото
            li.nav-lk-item
                a(href='#tabVideo' data-bs-toggle="tab").nav-lk-regChek-link Камера
        .row 
            .tab-content
                #tabPhoto.tab-pane.fade.active.show
                    div.mt-24 | Фото 
                #tabVideo.tab-pane.fade
                    div.mt-24 | Камера
    .col-12.mt-40.mt-md-60.px-20.px-lg-160
        .par-24.text-center.c-white Если QR-код не распознается и фискальные признаки не считываются, то введите данные вручную.
        .d-flex.justify-content-center.mt-18
            a.fiskal-link.mx-a(type="button" data-bs-toggle="modal" data-bs-target="#modal-fiskal") Где найти фискальные данные на чеке?
    .col
        form.row.needs-validation.px-0.px-lg-80.mt-30.mx-0.mx-lg-80(novalidate)
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="ФН" required ).form-control
                .invalid-feedback Укажите ФН
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="ФД" required ).form-control
                .invalid-feedback Укажите ФД
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="ФПД" required ).form-control
                .invalid-feedback Укажите ФПД
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="Сумма покупки" required ).form-control
                .invalid-feedback Укажите сумму покупки
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="Дата покупки" required ).form-control
                .invalid-feedback Укажите дату покупки
            .col-sm-6.col-md-4.mb-24
                input(type="text" placeholder="Время покупки" required ).form-control
                .invalid-feedback Укажите время покупки
            .col-12
                button.btn-lk.btn-red.w-100.px-0(type="submit") Зарегистрировать чек
            .col-md-4
.row.mt-30.mt-md-70 
    .col-12 
        h4.text-center
            span.gold-text-linear Зарегистрированные чеки
.row 
    .col-12 
        .receved-code-table__wrapper
            table#registered-receipts.receved-code-table
                thead
                    tr
                        th.nowrap.date-appl Дата розыгрыша
                        th.nowrap.num-appl Номер чека
                        th.nowrap.date-event ФН, ФД, ФПД
                        th.nowrap.type-event Фото чека
                        th.status-event Статус
                tbody
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_wait В процессе
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_proof Подтвержден
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_canceled Отклонено
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_wait В процессе
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_wait В процессе
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_wait В процессе
                    tr
                        td 14.12.2023
                        td <span class="font-arial"> №</span> 12755246
                        td 383732 / 344546 / ......
                        td 
                            a(href="img/fiskal.jpg" data-fancybox="image")

                                |Смотреть
                        td
                            .status.status_wait В процессе