.row.mt-40.mt-md-0 
    .col-12 
        .lk-tab-title.text-center
            span.gold-text-linear Призы
        h3.text-center
            span.gold-text-linear Вы еще не выиграли призов
.row 
    .col-12
        .lk-prize
            +img("lk-prizes/lk-prize-1.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream Гарантированный приз 50 рублей на счет телефона
                .par-14.c-cream Перечисление происходит автоматически на номер мобильного, указанный при регистрации.
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-md-60
        .lk-prize
            +img("lk-prizes/lk-prize-2.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream 5000 баллов на карту X5 Клуба
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-40.mt-md-60 
        h3.text-center
            span.gold-text-linear Специальные призы
    .col-12
        .lk-prize
            +img("lk-prizes/lk-prize-3.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream Умный электрогриль <br> Tefal Optigrill+ XL GC722D34
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-md-60
        .lk-prize
            +img("lk-prizes/lk-prize-4.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream Мультиварка Redmond RMC-IHM301
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-md-60
        .lk-prize
            +img("lk-prizes/lk-prize-5.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream Робот-пылесос <br> Xiaomi Mi Robot Vacuum-Mop 2
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-md-60
        .lk-prize
            +img("lk-prizes/lk-prize-6.png",'Сертификат')
            .lk-prize-desc(style="max-width:430px")
                h5.c-cream Еженедельный приз за фотоконкурс в VK - Фотоаппарат мгновенной печати Polaroid
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные
    .col-12.mt-15.mt-40.mt-md-60 
        h3.text-center
            span.gold-text-linear Главный приз
    .col-12
        .main-prize-lk
            +img("lk-prizes/lk-main-prize.png",'Сертификат')
            span
                .main-prize-title.c-cream.mb-0 Сертификат на путешествие всей семьей номиналом
                .main-prize-nominal
                    div.gold-text-linear 200&nbsp;000&nbsp;Р
    .col-12.mt-15.mt-40.mt-md-60 
        h3.text-center
            div.gold-text-linear Еженедельный приз за&nbsp;фотоконкурс в&nbsp;VK
    .col-12
        .lk-prize
            +img("lk-prizes/lk-prize-6.png",'Сертификат')
            .lk-prize-desc
                h5.c-cream Фотоаппарат мгновенной печати Polaroid
                .par-14.c-cream Дата розыгрыша: 14.12.2023 
            a.to-data-tab.btn-lk-prize( type="button" href="" )  Заполнить данные