.row.mt-40.mt-md-0  
    .col-12 
        .lk-tab-title.text-center 
            span.gold-text-linear Заявки
.row 
    .col-12 
        .receved-code-table__wrapper
            table#appl.receved-code-table
                thead
                    tr
                        th.nowrap.date-appl Дата и время заявки
                        th.nowrap.num-appl <span class="font-arial"> №</span> заявки

                        th.nowrap.type-event Дата розыгрыша
                        th.status-event Статус
                tbody
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td Розыгрыш сегодня
                        td
                            .status.status_wait Ожидает розыгрыша
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_wait Участвует сегодня
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_canceled Не выиграла
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_success Выигрыш
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_wait Ожидает розыгрыша
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_wait Ожидает розыгрыша
                    tr
                        td 14.12.2023, 23:00
                        td <span class="font-arial"> №</span> 1340006

                        td 14.12.2023
                        td
                            .status.status_wait Ожидает розыгрыша


